<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.fullyloaded">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="12451000" />

    <application
        android:name=".VolleySupport.AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="InnerclassSeparator">
        <activity android:name=".UI.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.PreviousWinnersActivity" />
        <activity android:name=".UI.CurrentCompetitionsActivity" />
        <activity android:name=".UI.CurrentTechCompetitionsActivity" />
        <activity android:name=".UI.CartActivity" />
        <activity android:name=".UI.PaymentActivity" />
        <activity android:name=".UI.TicketsPurchasedSuccessfullyActivity" />
        <activity android:name=".UI.CompetitionsDetailActivity" />
        <activity android:name=".UI.ChooseTicketActivity" />
        <activity android:name=".UI.ChooseCartItemActivity" />
        <activity android:name=".UI.AddressesActivity" />
        <activity android:name=".UI.LoginActivity" />
        <activity android:name=".UI.SignInActivity" />
        <activity android:name=".UI.MyAccountActivity" />
        <activity android:name=".UI.OrderActivity" />
        <activity android:name=".UI.BillingAddressActivity" />
        <activity android:name=".UI.ShippingAddressActivity" />
        <activity android:name=".UI.ChooseCompetitionActivity" />
        <activity android:name=".UI.RecentOrderActivity" />
        <activity android:name=".UI.ForgotPasswordActivity" />
        <activity android:name=".UI.TermConditionActivity" />
        <activity android:name=".UI.PrivacyPolicyActivity" />

        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false" />

        <activity
            android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Checkout.Light"
            tools:replace="android:theme" />

        <receiver
            android:name=".receiver.CheckoutBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.oppwa.mobile.connect.checkout.ACTION_PAYMENT_METHOD_SELECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>